<header class="header <% if (includeFeedFilter) { %>header--has-filter<% } %>">
    <div class="container container--full u-space-between">
        <div class="header__left">
            <a href="/">
                <h1 class="sr-only">Zikoko</h1>
                <span class="logo">
                    <%- partial('../components/icons/header/logo.ejs') %>
                </span>
            </a>
        </div>
        <% if (includeFeedFilter) { %>
        <div class="header__center">
            <div class="container">
                <div class="filter u-space-between">
                    <div class="filter__categories">
                        <button class="category-toggle">
                            <span class="category-toggle__text"><%= feed %></span>
                            <span class="category-toggle__icon">
                                <%- partial('../components/icons/header/caret-down.ejs') %>
                            </span>
                        </button>
                        <ul class="category-dropdown">
                            <% postsNavigation.forEach(function(item) { %>
                              <li class="category-dropdown__item"><a href="<%= item.url %>"><%= item.label %></a></li>
                            <% }) %>
                        </ul>
                    </div>

                    <% /*
                    <div class="filter__tabs">
                        <a href="#" class="filter__tab filter__tab--active">Hot</a>
                        <a href="#" class="filter__tab">Latest</a>
                    </div>
                    */ %>
                </div>
            </div>
        </div>
        <% } %>
        <div class="header__right">
            <ul class="nav">
                <li class="search">
                    <a class="search-toggle toggle--open-search" href="#">
                        <span class="search-toggle__icon">
                            <%- partial('../components/icons/header/search.ejs') %>
                        </span>
                        <span class="search-toggle__text">Search</span>
                    </a>
                </li>
                <% if (!currentUser) { %>
                <li class="account">
                    <a class="account-toggle" href="#">
                        <span class="account-toggle__icon">
                            <%- partial('../components/icons/header/account.ejs') %>
                        </span>
                    </a>
                    <ul class="account__links">
                        <li class="account__link"><a href="/login">Login</a></li>
                        <li class="account__link"><a href="/register">Create account</a></li>
                    </ul>
                </li>
                <% } else { %>
                <li class="user-profile">
                    <button class="user-profile-toggle">
                        <img src="<%= currentUser.imageUrl || currentUser.gravatarUrl %>">
                    </button>
                    <ul class="user-profile__links">
                        <li class="user-profile__link"><a href="/user/<%= currentUser.username %>">Profile</a></li>
                        <li class="user-profile__link"><a href="/logout">Logout</a></li>
                    </ul>
                </li>
                <% } %>
                <li><a href="/new" class="upload-button">Upload</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="search-header">
  <div class="container">
    <a href="#" tabindex="-1" class="search-header__close toggle--close-search">
      <span class="icon">
        <%- partial('../components/icons/header/cancel.ejs') %>
      </span>
    </a>
    <form action="/search" method="get" class="form search-header-form">
      <input type="text" name="term" class="form__field search-header__field" placeholder="Search" tabindex="-1">
    </form>
  </div>
</div>

<div class="page-overlay"></div>
