<%
 // Pagination
  const currentPage = parseInt(pagination.page);
  const previousPage = currentPage - 1;
  const nextPage = currentPage + 1;
  const totalPages = Math.ceil( parseInt(pagination.total) / sails.config.globals.settings.postsPerPage);
  const pageBase = pagination.pageBase;
  const pageQuery = pagination.query || '';
 %>


<ul class="pagination is-nav">

  <% if (previousPage > 0) { %>
  <li class="pagination__item">
    <a href="<%= pageBase %>/page/<%= previousPage %><%= pageQuery %>" class="button button--clear button--sm">Prev</a>
  </li>

  <li class="pagination__item">
    <a href="<%= pageBase %>/page/1<%= pageQuery %>" class="button button--clear button--sm">1</a>
  </li>

  <% if (previousPage > 1) { %>
  <li class="pagination__item"><span class="button button--clear button--sm">...</span></li>
  <li class="pagination__item">
    <a href="<%= pageBase %>/page/<%= previousPage %><%= pageQuery %>" class="button button--clear button--sm"><%= previousPage %></a>
  </li>
  <% } %>
  <% } %>

  <li class="pagination__item pagination__item--active">
    <span class="button button--sm"><%= currentPage %></span>
  </li>

  <% if (currentPage !== totalPages) { %>

  <% if (nextPage !== totalPages) { %>
  <li class="pagination__item">
    <a href="<%= pageBase %>/page/<%= nextPage %><%= pageQuery %>" class="button button--clear button--sm"><%= nextPage %></a>
  </li>
  <li class="pagination__item"><span class="button button--clear button--sm">...</span></li>
  <% } %>

  <li class="pagination__item">
    <a href="<%= pageBase %>/page/<%= totalPages %><%= pageQuery %>" class="button button--clear button--sm"><%= totalPages %></a>
  </li>

  <li class="pagination__item">
    <a href="<%= pageBase %>/page/<%= nextPage %><%= pageQuery %>" class="is-nextPage button button--clear button--sm">Next</a>
  </li>
  <% } %>
</ul>
