<% currentUser = currentUser || {} %>
<% if ( currentUser.id === post.author.id ) { %>
<form action="/post/delete" method="post" class="post__actions">

  <!-- Hidden field, don't touch -->
  <input type="hidden" name="post_id" value="<%= post.id %>">

  <button type="submit" class="post-action post-action--delete button button--no-pad button--clear" class="post-action">
    <span class="post-action-icon post-action-icon--delete"></span> Delete this post
  </button>

</form>
<% } else { %>
<form action="/post/like" method="post" class="post__actions js-likePostForm">

  <!-- Hidden fields, don't touch -->
  <input type="hidden" name="post_id" value="<%= post.id %>">
  <input type="hidden" name="post_slug" value="<%= post.slug %>">

  <!-- I'm assuming has_liked check if the current user has_liked the post; Please edit if I'm wrong -->
  <button class="post-action button button--no-pad button--clear" href="#" class="post-action">
      <span class="post-action-icon post-action-icon--<%= post.has_liked ? 'liked': 'like'%>">
          <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512"><g><g><path d="M378.435,33.391c-64.782,0-103.119,45.201-122.435,78.098c-19.316-32.897-57.652-78.098-122.435-78.098 C57.419,33.391,0,94.511,0,175.559c0,102.434,105.592,179.468,245.136,299.028c3.125,2.679,6.994,4.021,10.864,4.021 s7.739-1.342,10.864-4.021C406.427,355.011,512,277.985,512,175.559C512,94.511,454.581,33.391,378.435,33.391z"/></g></g></svg>
      </span>
      <span><%= post.likes_count === 0 ? 'Like' : post.likes_count %></span>
  </button>

    <span><%= post.likes_count === 0 ? 'Like' : post.likes_count %></span>
  </button>

</form>
<% } %>
