<form action="/post/like" method="post" class="post__actions js-likePostForm">

  <!-- Hidden fields, don't touch -->
  <input type="hidden" name="post_id" value="<%= post.id %>">
  <input type="hidden" name="post_slug" value="<%= post.slug %>">


  <!-- I'm assuming has_liked check if the current user has_liked the post; Please edit if I'm wrong -->
  <button type="submit" class="post-action post-action--toggle-like post-action--<%= post.has_liked ? 'liked': 'like'%> button button--no-pad button--clear">
    <span class="post-action-icon post-action-icon--like">
      <svg width="48" height="48" viewBox="0 0 48 48"><g id="Canvas" transform="matrix(0.48 0 0 0.48 166.08 118.08)" figma:type="canvas"><g id="like" style="mix-blend-mode:normal;" figma:type="frame"><mask id="mask0_outline_ins"><use xlink:href="#path0_fill" fill="white" transform="translate(-345 -241)" /></mask><g mask="url(#mask0_outline_ins)"><use xlink:href="#path1_stroke_2x" transform="translate(-345 -241)" fill="#808080" style="mix-blend-mode:normal;" /></g></g></g></g><defs><path id="path0_fill" d="M 48.7952 90C 47.6987 90 46.7849 89.6378 45.8711 89.0946C 38.1955 84.2052 -1.3943e-06 58.4909 -1.3943e-06 30.4225C -1.3943e-06 14.1247 13.5238 -6.43349e-15 28.875 -6.43349e-15C 39.6575 -6.43349e-15 44.7746 5.07042 48.7952 9.59758C 52.633 5.07042 57.7501 -6.43349e-15 68.7153 -6.43349e-15C 84.0666 -6.43349e-15 97.5904 14.3058 97.5904 30.4225C 97.5904 58.4909 59.3949 84.2052 51.7192 89.0946C 50.8055 89.8189 49.8917 90 48.7952 90Z"/><path id="path1_stroke_2x" d="M 45.8711 89.0946L 42.6476 94.1551L 42.7255 94.2047L 42.8049 94.2519L 45.8711 89.0946ZM 48.7952 9.59758L 44.309 13.5818L 48.9006 18.7519L 53.3719 13.4774L 48.7952 9.59758ZM 51.7192 89.0946L 48.4957 84.034L 48.2346 84.2004L 47.992 84.3927L 51.7192 89.0946ZM 48.7952 84C 48.8547 84 48.9226 84.0052 48.9925 84.0169C 49.0618 84.0284 49.1148 84.0433 49.1464 84.0537C 49.2026 84.0723 49.1505 84.0639 48.9373 83.9372L 42.8049 94.2519C 44.138 95.0224 46.5733 95.8935 48.7952 96L 48.7952 84ZM 49.0947 84.034C 45.3102 81.6238 34.3747 74.3632 24.3079 64.2161C 14.0015 53.8705 6 41.9229 6 30.4225L -6 30.4225C -6 46.9906 5.09627 61.9343 15.8065 72.6853C 26.7564 83.6348 38.7564 91.676 42.6476 94.1551L 49.0947 84.034ZM 6 30.4225C 6 17.1555 17.1135 6 28.875 6L 28.875 -6C 9.93402 -6 -6 11.094 -6 30.4225L 6 30.4225ZM 28.875 6C 37.1134 6 40.7263 9.54768 44.309 13.5818L 53.2814 5.61338C 48.8229 0.59316 42.2016 -6 28.875 -6L 28.875 6ZM 53.3719 13.4774C 56.6738 9.58246 60.2715 6 68.7153 6L 68.7153 -6C 55.2287 -6 48.5922 0.558379 44.2184 5.71772L 53.3719 13.4774ZM 68.7153 6C 80.4545 6 91.5904 17.3131 91.5904 30.4225L 103.59 30.4225C 103.59 11.2986 87.6787 -6 68.7153 -6L 68.7153 6ZM 91.5904 30.4225C 91.5904 41.9229 83.5889 53.8705 73.2825 64.2161C 63.2157 74.3632 52.2801 81.6238 48.4957 84.034L 54.9428 94.1551C 58.834 91.676 70.834 83.6348 81.7838 72.6853C 92.4941 61.9343 103.59 46.9906 103.59 30.4225L 91.5904 30.4225ZM 47.992 84.3927C 48.0533 84.3441 48.1531 84.2747 48.2891 84.2048C 48.4262 84.1343 48.5646 84.0817 48.6913 84.0458C 48.9332 83.9773 49.0307 84 48.7952 84L 48.7952 96C 50.4777 95.9713 53.3228 95.2653 55.4464 93.7965L 47.992 84.3927Z"/></defs></svg>
    </span>

    <span class="post-action-icon post-action-icon--liked">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><style>.a{mix-blend-mode:normal;}</style><title>  liked</title><desc>  Created using Figma</desc><g class="a"><g class="a"><use xlink:href="#path0_fill" transform="translate(227 246)translate(-226 -241)" style="fill:#E02421;mix-blend-mode:normal"/></g></g><defs><path d="M48.8 90C47.7 90 46.8 89.6 45.9 89.1 38.2 84.2 0 58.5 0 30.4 0 14.1 13.5 0 28.9 0 39.7 0 44.8 5.1 48.8 9.6 52.6 5.1 57.8 0 68.7 0 84.1 0 97.6 14.3 97.6 30.4 97.6 58.5 59.4 84.2 51.7 89.1 50.8 89.8 49.9 90 48.8 90Z"/></defs></svg>
    </span>

    <span><%= post.likes_count === 0 ? 'Like' : post.likes_count %></span>
  </button>

  <a href="/post/<%= post.slug %>#comments" class="post-action button button--no-pad button--clear">
    <span class="post-action-icon post-action-icon--comment"></span> Comment
  </a>
</form>
