<div class="post__actions u-flex">
<form action="/post/like" method="post" class="js-likePostForm">

  <!-- Hidden fields, don't touch -->
  <input type="hidden" name="post_id" value="<%= post.id %>">
  <input type="hidden" name="post_slug" value="<%= post.slug %>">

  <button class="post-action post-action--margin-right button button--no-pad button--clear" href="#" class="post-action">
      <span class="post-action-icon post-action-icon--<%= post.has_liked ? 'liked': 'like'%>">
          <%- partial('../components/icons/post/like.ejs') %>
      </span>
      <span class="post-action-text"><%= post.likes_count === 0 ? 'Like' : UtilsService.truncatedCount(post.likes_count) %></span>
  </button>

</form>

<% if ( currentUser.id === post.author.id ) { %>
<form action="/post/delete" method="post">

  <!-- Hidden field, don't touch -->
  <input type="hidden" name="post_id" value="<%= post.id %>">

  <button type="submit" class="post-action post-action--delete button button--no-pad button--clear" class="post-action">
    <span class="post-action-icon post-action-icon--delete">
      <%- partial('../components/icons/post/delete.ejs') %>
    </span>
    <span class="post-action-text">Delete</span>
  </button>

</form>
<% } %>
</div>
