<article class="post-excerpt card">
  <a href="/post/<%= post.id %>">
    <h3 class="post-excerpt__title"><%= post.title %></h3>
    <img src="<%= post.featured_image_url %>" class="post-excerpt__img" alt="">
  </a>
  <div class="post-excerpt__footer u-flex u-space-between">
    <div class="post-excerpt__author u-flex u-vertical-align">
      <img class="post-excerpt__author-img" src="<%= post.author.imageUrl || post.author.gravatarUrl %>">
      <a href="/user/<%= post.author.id %>" class="post-excerpt__author-name">@<%= post.author.username %></a>
    </div>

    <%- partial('./actions.ejs') %>
    <%- partial('./share.ejs') %>

</article>
