<h2 class="post__title"><%= post.title %></h2>

<% if (post.show_post_author === true) { %>
<div class="post__author u-flex">
  <img class="post__author-img" src="<%= post.author.imageUrl || post.author.gravatarUrl %>">
  <div>
    <a href="/user/<%= post.author.username %>" class="post__author-name">@<%= post.author.username %></a>
    <span class="post__dot"></span>
    <span class="post__author-role"><%= post.author.role %></span>
    <div class="post__time-stamp"><%= UtilsService.displayDate(post.publishedAt) %></div>
  </div>
</div>
<% } %>

<div class="post__divider"></div>
