<%
  /*  SHARE BUTTONS
  *  =======================
  */
%>

<div class="post-share">
    <a href="<%= ShareService.getShareUrl(post, 'facebook') %>" class="post-share-item post-share-item--facebook">
        <span class="sr-only">Facebook</span>
        <span class="icon">
            <%- partial('../components/icons/share/facebook.ejs') %>
        </span>
    </a>
    <a href="<%= ShareService.getShareUrl(post, 'twitter') %>" class="post-share-item post-share-item--twitter">
        <span class="sr-only">Twitter</span>
        <span class="icon">
            <%- partial('../components/icons/share/twitter.ejs') %>
        </span>
    </a>
    <a href="<%= ShareService.getShareUrl(post, 'email') %>" class="post-share-item">
        <span class="sr-only">Email</span>
        <span class="icon">
            <%- partial('../components/icons/share/email.ejs') %>
        </span>
    </a>
    <a href="<%= ShareService.getShareUrl(post, 'pinterest') %>" class="post-share-item post-share-item--pinterest">
        <span class="sr-only">Pinterest</span>
        <span class="icon">
            <%- partial('../components/icons/share/pinterest.ejs') %>
        </span>
    </a>
</div>
