<%- partial('./partials/header.ejs', {includeFeedFilter: false}) %>

<div class="zkk-site-wrap zkk-site-wrap--white u-flex u-center-align">
  <div class="zkk-main">
    <article class="post">
      <header>
        <%- partial('./post/header.ejs') %>
      </header>
      <div class="post__items">
        <%- partial('./post/content-'+ post.post_type +'.ejs') %>
      </div>

      <% if (post.tags) { %>
      <div class="post-tags">
          <h2 class="post-tags__title">Tags</h2>
          <ul>
              <% post.tags.forEach(function(tag) { %>
              <li class="post-tag"><a href="/search?term=<%= tag.name %>">#<%= tag.name %></a></li>
              <% }) %>
          </ul>
      </div>
      <% } %>

      <div class="post__footer u-flex u-space-between">
        <div class="post__actions">
            <span class="post__action">
                <span class="post__action-icon post__action-icon--like"></span> Like
            </span>
        </div>

        <div class="post__share">
          <a href="<%= ShareService.getShareUrl(post, 'facebook') %>" target="_blank" class="post__share-item post__share-item--facebook">
            <span class="sr-only">Facebook</span>
            <i class="ion-social-facebook"></i>
          </a>
          <a href="<%= ShareService.getShareUrl(post, 'twitter') %>" target="_blank" class="post__share-item post__share-item--twitter">
            <span class="sr-only">Twitter</span>
            <i class="ion-social-twitter"></i>
          </a>
          <a href="<%= ShareService.getShareUrl(post, 'email') %>" class="post__share-item">
            <span class="sr-only">Email</span>
            <i class="ion-email"></i>
          </a>
          <a href="<%= ShareService.getShareUrl(post, 'pinterest') %>" target="_blank" class="post__share-item post__share-item--pinterest">
            <span class="sr-only">Pinterest</span>
            <i class="ion-social-pinterest"></i>
          </a>
        </div>
      </div>

      <!-- @todo Comments -->
      <%- partial('./post/comments.ejs') %>

      <div class="u-flex u-space-between">
          <a href="#" class="button button--md button--icon-right button--full-width">
              <span class="button__text">Next Post</span>
              <span class="button__icon"><i class="ion-ios-arrow-right"></i></span>
          </a>
      </div>
    </article>
  </div>
  <%- partial('./partials/sidebar.ejs') %>
</div>

<%- partial('./partials/footer.ejs') %>
