<%- partial('./partials/header.ejs', { includeFeedFilter: true }) %>

<div class="content content--extra-pad">
  <%- partial('./components/ad-leaderboard.ejs') %>
  <div class="container container--flex container--no-pad">
	<main>
	    <% posts.forEach(function(post) { %>
	      <%- partial('./post/excerpt.ejs', { post: post }) %>
	    <% }) %>

      <% const adZone = parseInt(pagination.page) % 2 ? 1 : 2 %>
      <%- partial('./components/ad-instream-'+adZone+'.ejs') %>

	    <%- partial('./partials/pagination.ejs') %>
	  </main>
  <%- partial('./partials/sidebar.ejs') %>
  </div>
</div>

<%- partial('./partials/footer-posts.ejs') %>
