<%- partial('./partials/header.ejs', {includeFeedFilter: false}) %>

<div class="zkk-site-wrap zkk-site-wrap--white u-flex u-center-align">
  <div class="zkk-main">
    <article class="post">
      <header>
        <%- partial('./post/header.ejs') %>
      </header>
      <div class="post__items">
        <%- partial('./post/content-'+ post.post_type +'.ejs') %>
      </div>
      <div class="post-excerpt__footer u-flex u-space-between">
        <%- partial('./post/actions.ejs') %>
        <%- partial('./post/share.ejs') %>
      </div>
    </article>

    <!-- @todo Comments -->
    <%- partial('./post/comments.ejs') %>

    <!-- @todo Next Post? -->
    <p>Next Post</p>
    <br><br><br>

  </div>
  <%- partial('./partials/sidebar.ejs') %>
</div>

<%- partial('./partials/footer.ejs') %>
