<%- partial('./partials/header.ejs', {includeFeedFilter: false}) %>

<% currentUser = currentUser || {}
   post.author = post.author || {} %>

<% if ( currentUser.id === post.author.id ) {  %>
  <%- partial('./post/delete-modal.ejs') %>
<% } %>

<div class="content content--white">
  <%- partial('./components/ad-leaderboard.ejs') %>
  <div class="container container--no-pad">
    <main class="u-float-left">
      <article class="post post--<%= post.post_type %>">
        <header>
          <%- partial('./post/header.ejs') %>
        </header>
        <div class="post__items">
          <%- partial('./post/content-' + post.post_type + '.ejs') %>
        </div>
        <% if (post.tags.length > 0) { %>
        <div class="post-tags">
          <h2 class="post-tags__title">Tags</h2>
          <ul>
            <% post.tags.forEach(function(tag) { %>
            <li class="post-tag"><a href="/search?term=<%= tag.name %>">#<%= tag.name %></a></li>
            <% }) %>
          </ul>
        </div>
        <% } %>
        <div class="post__footer u-flex u-space-between">
          <%- partial('./post/actions-single.ejs')  %>
          <%- partial('./post/share.ejs') %>
        </div>
        <!-- @todo Comments -->
        <%- partial('./post/comments.ejs') %>
        <!--div class="u-flex u-space-between">
          <a href="/post/<%= post.next_post_slug %>" class="button button--md button--full-width">
            <span class="button__text">Next Post</span>
          </a>
        </div-->
      </article>
      <div class="related-posts">
        <% relatedPosts.forEach(function(post) { %>
          <%- partial('./post/excerpt.ejs', { post: post }) %>
        <% }) %>
      </div>
    </main>
    <%- partial('./partials/sidebar.ejs') %>
  </div>
  <div class="clear"></div>
</div>
<%- partial('./partials/footer.ejs') %>
