<%- partial('./partials/header.ejs', { includeFeedFilter: false }) %>
<div class="content">
    <%- partial('./components/ad-leaderboard.ejs') %>
    <div class="container container--flex container-no-pad">
        <main>
            <div class="search-results__header">
                <span class="search-results__label"><%= pagination.total %> Results for:</span>
                <h2 class="search-results__title">"<%= term %>"</h2>
            </div>

            <div id="is-postsContent">
              <% posts.forEach(function(post) { %>
              <%- partial('./post/excerpt.ejs', { post: post }) %>
              <% }) %>

              <% const adZone = parseInt(pagination.page) % 2 ? 1 : 2 %>
              <%- partial('./components/ad-instream-'+adZone+'.ejs') %>

              <%- partial('./partials/pagination.ejs') %>
            </div>
        </main>
        <%- partial('./partials/sidebar.ejs') %>
    </div>
</div>
<%- partial('./partials/footer.ejs') %>
