<%- partial('./partials/header.ejs', { includeFeedFilter: false }) %>
<div class="content">
    <%- partial('./components/ad-leaderboard.ejs') %>
    <div class="container container--flex container-no-pad">
        <main>
            <div class="search-results__header">
                <span class="search-results__label"><%= posts.length %> Results for:</span>
                <h2 class="search-results__title">"<%= term %>"</h2>
            </div>
            <% posts.forEach(function(post) { %>
                <%- partial('./post/excerpt.ejs', { post: post }) %>
            <% }) %>
        </main>
        <%- partial('./partials/sidebar.ejs') %>
    </div>
</div>
<%- partial('./partials/footer.ejs') %>
