<%- partial('./partials/header.ejs', { includeFeedFilter: false }) %>

<div class="zkk-site-wrap u-flex u-center-align">
  <div class="zkk-main">

    <div class="card profile">
      <div class="u-flex u-space-between">
        <div>
          <div class="profile__role"><%= user.role %></div>
          <h2 class="profile__name">@<%= user.username %></h2>

          <% if (currentUser) { if ( currentUser.username === user.username ) { %>
          <a href="/me/profile" class="profile__edit">Edit</a>
          <% } } %>
        </div>

        <img src="<%= user.imageUrl || user.gravatarUrl %>">
      </div>

      <div class="profile__tabs">
        <a href="/user/<%= user.id %>" class="profile__tab profile__tab--active">
          <div class="profile__stat-number"><%= posts.length %></div> Posts
        </a>
        <!--<a href="/user/<% //user.id %>/likes" class="profile__tab">
          <div class="profile__stat-number">2.4K</div> Likes
        </a>-->
      </div>
    </div>

    <div class="profile-posts">
      <h3 class="profile-posts__title">Posts</h3>
      <% posts.forEach(function(post) { %>
      <%- partial('./post/excerpt.ejs', { post: post }) %>
      <% }) %>
    </div>
  </div>

  <%- partial('./partials/sidebar.ejs') %>
</div>
